/* 
color palette:
 purple #461D7C 
 gold   #FDD023
*/

body {
background-color: #FDD023;
}

.slidecontent {
  padding-top: 400px;
}


.reveal section img {
  float: left;
  padding: 40px;
  max-width: 300px;
  max-height: 120px;
  background-color: #FDD023;
  box-shadow: none;
}